menuconfig LIB_SNMP
	bool "Enable the SNMP library"
	default n
	help
	  Library routines for SNMP

if LIB_SNMP

config SNMP_LOG_LEVEL
	int "Default log level for SNMP"
	default 4
	help
		The default log level, which is used to filter log messages.

		0: None
		1: Error
		2: Warn
		3: Info
		4: Debug
		5: Verbose

config SNMP_STACK_SIZE
	int "SNMP stack size"
	default 4096
	help
		The stack size for the SNMP thread.

config SNMP_THREAD_PRIORITY
	int "SNMP thread priority"
	default 8
	help
		The priority of the SNMP thread.

endif #LIB_SNMP
